@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  align-self: center;
  border-radius: 2em;
}
main {
  display: block;
  width: 70%;
  /* background-color: linear-gradient(rbga 0,0,0,0); */
  align-self: center;
  margin: auto;
  padding-bottom: 20vh;
  /* background-color: rgba(10, 10, 10, .5); */
}

.WLpanel {
  background: linear-gradient(94.25deg, rgba(56, 33, 28, 0.36) 0%, rgba(56, 33, 28, 0.18) 100%), rgba(213, 213, 213, 0.7);
  border: 1px solid rgba(42, 20, 22, 0.6);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
}
.WLpanel p{
  text-align: left;
 
}
.abeonapanel {
  border-width: 2px;
  border-style: solid;
  border-color: rgba(149, 149, 149, 0.5);
  background:linear-gradient(94deg, rgba(226, 226, 226, 0.3) 0%, rgba(147, 145, 145, 0.2) 100%);
  /* text-align: left; */
  border-radius: 20px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.row {
  align-items: center;
  background: none;
  border: none;
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  margin-bottom: 15px;
}

.row.rightimg {
  flex-wrap: wrap;
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}
.column-50 {
  float: left;
  width: 50%;
  padding: 20px;
  background: none;
  border: none;
}
main h1 {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(165.61deg, rgb(227, 193, 252) 25%, rgb(255, 113, 113) 100%);
  font-weight: 400;
  width: 80%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.abeonamain h1 {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(165.61deg, rgb(186, 90, 255) 25%, rgb(247, 213, 90) 100%);
  font-weight: 400;
  width: 80%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
main p {
  margin: 2em;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: rgba(10, 10, 10, 1);
}

.wlbody {
  background-image: url(WLBG.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* background-size: 150vh,90vw; */
  background-size: cover, 90vw;
  background-color: rgb(21, 6, 3);
}
.abeonabody{
  background-image: url(Abeonabg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover, 100vw;
}
header{
  align-self: center;
  margin: auto;
  width: 90%;
  text-align: center;
  border-radius: 2em;
}
.WLheader{
  border: 2px solid rgba(142, 142, 142, .14);
  background:linear-gradient(94deg, rgba(77, 77, 77, 0.7) 0%, rgba(142, 142, 142, .14) 100%);
}
.abeonaheader{
  border-width: 2px;
  border-style: solid;
  border-color: rgba(149, 149, 149, 0.5);
  background:linear-gradient(94deg, rgba(226, 226, 226, 0.3) 0%, rgba(147, 145, 145, 0.2) 100%);
}
header img{
  max-height: 250px;
  padding: 15px;
  border-radius: 2em;
}
header h1 {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(45deg, rgb(227, 193, 252) 25%, rgb(255, 113, 113) 100%);
  font-weight: 400;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
header h2 {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(45deg, rgb(227, 193, 252) 25%, rgb(255, 113, 113) 100%);
  font-weight: 400;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.abeonaheader h1 {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(165.61deg, rgb(186, 90, 255) 25%, rgb(247, 213, 90) 100%);
  font-weight: 400;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.abeonaheader h2 {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(165.61deg, rgb(186, 90, 255) 25%, rgb(247, 213, 90) 100%);
  font-weight: 400;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 15px;
}

@media screen and (max-width:1000px) {

  main h1 {
    width: 100%;
    text-align: center;
  }
  .abeonamain{
    width: 100%;
    text-align: center;
  }
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
    margin: auto;
    align-content: center;
    align-self: center;
  }
}